/*  1. importación de las tipografías */
@import url('https://fonts.cdnfonts.com/css/dasher');


/*  2. estilos generales  - variables CSS*/
:root {
    --color-primario:#FF3385;
    --color-fondo:#D9D9D9;
    --color-texto: #262626;
    --texto-titulos: 'DASHER', sans-serif;
}

/* 3. condiciones iniciales */
/* selector universal */
* {
   margin:0;
   padding:0;
   box-sizing: border-box; /*garantiza que se respetan el tamaño de los elementos*/
}













/* selector: etiqueta
    se llaman directamente
*/
li{
    background-color: blue;
}

/* selector: clase - especificidad media
    las clases se DEBEN llamar con . adelante
*/
.sobre-mi{
    background-color: red;
}

/* selector: ID - especificidad alta */
#texto{
    font-size: 100px;
}